<br><br><br><br><br>
  <div class="form-signin" id="login-area">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="username" class="sr-only">Username</label>
    <input type="username" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    <div class = "alert-msg">
      <p>Please fill out all fields with valid input</p>
    </div>
    <button class="btn btn-lg btn-primary btn-block" id="login-button">Sign in</button>
  </div>

  <a id='register' href=# >New employees register here</a>
  <p class="mt-5 mb-3 text-muted">&copy; 2019-2019</p>