<!-- <form class="form-signin" action="auth" method="POST"> -->
    <!-- <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <!-- <h1 class="h3 mb-3 font-weight-normal">Please fill our your Credentials</h1>
    <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name" required autofocus>
    <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name" required autofocus>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <input id="sign-in-button" type="submit">Register
    
  </form> -->

  <div id="register-area">
    <br><br><br><br><br>
    <h1 class="h3 mb-3 font-weight-normal">Please fill our your Credentials</h1>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required
      autofocus>
    <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name" required autofocus>
    <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name" required autofocus>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button id="register-button">Register</button>
  </div>

  <a id='log-in' href=# >Back to login</a>
  <p class="mt-5 mb-3 text-muted">&copy; 2019-2019</p>