<form class="form-signin" action="auth" method="POST">
    <!-- <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h1 class="h3 mb-3 font-weight-normal">Please fill our your Credentials</h1>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <input type="text" id="firstname" class="form-control" placeholder="First Name" required autofocus>
    <input type="text" id="lastname" class="form-control" placeholder="Last Name" required autofocus>
    <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <input id="sign-in-button" type="submit">Register
    
  </form>

  <a id='log-in' href=# >Back to login</a>
  <p class="mt-5 mb-3 text-muted">&copy; 2019-2019</p>